In [26]:
#importing all packages we are going to need
import pandas as pd
import pandasql as ps
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import os
import joblib

In [27]:
#reading the dataset csv file and saving it to  
table_dir = os.path.join("Project/","data/","table/", "dataset_56_vote.csv")
vote_dataset = pd.read_csv(table_dir)

# Show number of rows and columns in our dataset
print("Number of rows and columns:", vote_dataset.shape)
# Show the column names
print("\nColumn names:")
for col in vote_dataset.columns:
    print(" -", col)
# Inspect the first few rows of the data, to have a clearer idea about the data formats
print("\nPreview of the data:")
vote_dataset.head()

Number of rows and columns: (435, 17)

Column names:
 - handicapped-infants
 - water-project-cost-sharing
 - adoption-of-the-budget-resolution
 - physician-fee-freeze
 - el-salvador-aid
 - religious-groups-in-schools
 - anti-satellite-test-ban
 - aid-to-nicaraguan-contras
 - mx-missile
 - immigration
 - synfuels-corporation-cutback
 - education-spending
 - superfund-right-to-sue
 - crime
 - duty-free-exports
 - export-administration-act-south-africa
 - Class

Preview of the data:

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,Class
0,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y,republican
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?,republican
2,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n,democrat
3,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y,democrat
4,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y,democrat

In [28]:
#creating a query function
def query(sql):
    return ps.sqldf(sql, globals())

In [29]:

for col in vote_dataset:
    if col != "Class":
        display(query(f"""
        SELECT v.class, v."{col}" , COUNT(*) FROM vote_dataset v
        GROUP BY v.class, v."{col}"
        """))

        Class handicapped-infants  COUNT(*)
0    democrat                   ?         9
1    democrat                   n       102
2    democrat                   y       156
3  republican                   ?         3
4  republican                   n       134
5  republican                   y        31

        Class water-project-cost-sharing  COUNT(*)
0    democrat                          ?        28
1    democrat                          n       119
2    democrat                          y       120
3  republican                          ?        20
4  republican                          n        73
5  republican                          y        75

        Class adoption-of-the-budget-resolution  COUNT(*)
0    democrat                                 ?         7
1    democrat                                 n        29
2    democrat                                 y       231
3  republican                                 ?         4
4  republican                                 n       142
5  republican                                 y        22

        Class physician-fee-freeze  COUNT(*)
0    democrat                    ?         8
1    democrat                    n       245
2    democrat                    y        14
3  republican                    ?         3
4  republican                    n         2
5  republican                    y       163

        Class el-salvador-aid  COUNT(*)
0    democrat               ?        12
1    democrat               n       200
2    democrat               y        55
3  republican               ?         3
4  republican               n         8
5  republican               y       157

        Class religious-groups-in-schools  COUNT(*)
0    democrat                           ?         9
1    democrat                           n       135
2    democrat                           y       123
3  republican                           ?         2
4  republican                           n        17
5  republican                           y       149

        Class anti-satellite-test-ban  COUNT(*)
0    democrat                       ?         8
1    democrat                       n        59
2    democrat                       y       200
3  republican                       ?         6
4  republican                       n       123
5  republican                       y        39

        Class aid-to-nicaraguan-contras  COUNT(*)
0    democrat                         ?         4
1    democrat                         n        45
2    democrat                         y       218
3  republican                         ?        11
4  republican                         n       133
5  republican                         y        24

        Class mx-missile  COUNT(*)
0    democrat          ?        19
1    democrat          n        60
2    democrat          y       188
3  republican          ?         3
4  republican          n       146
5  republican          y        19

        Class immigration  COUNT(*)
0    democrat           ?         4
1    democrat           n       139
2    democrat           y       124
3  republican           ?         3
4  republican           n        73
5  republican           y        92

        Class synfuels-corporation-cutback  COUNT(*)
0    democrat                            ?        12
1    democrat                            n       126
2    democrat                            y       129
3  republican                            ?         9
4  republican                            n       138
5  republican                            y        21

        Class education-spending  COUNT(*)
0    democrat                  ?        18
1    democrat                  n       213
2    democrat                  y        36
3  republican                  ?        13
4  republican                  n        20
5  republican                  y       135

        Class superfund-right-to-sue  COUNT(*)
0    democrat                      ?        15
1    democrat                      n       179
2    democrat                      y        73
3  republican                      ?        10
4  republican                      n        22
5  republican                      y       136

        Class crime  COUNT(*)
0    democrat     ?        10
1    democrat     n       167
2    democrat     y        90
3  republican     ?         7
4  republican     n         3
5  republican     y       158

        Class duty-free-exports  COUNT(*)
0    democrat                 ?        16
1    democrat                 n        91
2    democrat                 y       160
3  republican                 ?        12
4  republican                 n       142
5  republican                 y        14

        Class export-administration-act-south-africa  COUNT(*)
0    democrat                                      ?        82
1    democrat                                      n        12
2    democrat                                      y       173
3  republican                                      ?        22
4  republican                                      n        50
5  republican                                      y        96

In [30]:
#after looking at each Tables: most of the tables have clear distinction between democrats leaning towards one voting decision and republicans leaning towards the opposite vote
#The features that do not have a clear distinction are: "water-project-cost-sharing", "physician-fee-freeze", "immigration", "export-administration-act-south-africa"
#Those features have a somewhat equal split between yes and no in both parties
#There are also some features that have a clear voting dicision in one party and an equal split between the other party, those features are: "religious-groups-in-schools", "synfuels-corporation-cutback"

#We put those features in a unselect and maybe unselect list. The features in the unselect List, will be removed from the Training and Testing data 
unselect_features = ["handicapped-infants", "water-project-cost-sharing", "immigration", "export-administration-act-south-africa"]

#The features"religious-groups-in-schools", "synfuels-corporation-cutback" have a somewhat even split between the demmocrat votes, now we take a look if those two features have redundant information about republicans
display(query(f"""
        SELECT v.class, v."religious-groups-in-schools", v."synfuels-corporation-cutback", COUNT(*) FROM vote_dataset v
        GROUP BY v.class, v."religious-groups-in-schools", v."synfuels-corporation-cutback"
        """))

,Class,religious-groups-in-schools,synfuels-corporation-cutback,COUNT(*)
0,democrat,?,?,3
1,democrat,?,n,2
2,democrat,?,y,4
3,democrat,n,?,4
4,democrat,n,n,81
5,democrat,n,y,50
6,democrat,y,?,5
7,democrat,y,n,43
8,democrat,y,y,75
9,republican,?,?,2
10,republican,n,?,1
11,republican,n,n,15
12,republican,n,y,1
13,republican,y,?,6
14,republican,y,n,123
15,republican,y,y,20

In [31]:
#The republicans mainly (y,n) votes therefore the information is redundant and we only need one of those since the dem split is more even in synfuels-corporation-cutback we are taking that feature

unselect_features.append('religious-groups-in-schools')

In [32]:
#dropping the unselected features
for col in unselect_features:
    vote_dataset = vote_dataset.drop(col, axis=1)
display(vote_dataset)

#encoding it from y, n , ? value sto numerical values
vote_dataset_encoded = pd.get_dummies(vote_dataset.drop('Class', axis=1))
vote_dataset_encoded = vote_dataset_encoded.astype(int)
vote_dataset_encoded["Class"] = vote_dataset["Class"]
print("\n Categorical feature columns converted to numerical form!")
print(vote_dataset.shape)
print(vote_dataset_encoded.shape)
vote_dataset_encoded.dtypes.head(41)
display(vote_dataset_encoded)

,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,Class
0,n,y,y,n,n,n,?,y,y,y,n,republican
1,n,y,y,n,n,n,n,y,y,y,n,republican
2,y,?,y,n,n,n,y,n,y,y,n,democrat
3,y,n,?,n,n,n,y,n,y,n,n,democrat
4,y,n,y,n,n,n,y,?,y,y,y,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...
430,y,y,y,n,n,y,n,y,y,y,n,republican
431,y,n,n,y,y,y,n,n,n,n,n,democrat
432,n,y,y,n,n,n,y,y,y,y,n,republican
433,n,y,y,?,?,?,n,y,y,y,n,republican
434,n,y,y,n,n,n,n,y,y,y,?,republican

 Categorical feature columns converted to numerical form!
(435, 12)
(435, 34)

,adoption-of-the-budget-resolution_?,adoption-of-the-budget-resolution_n,adoption-of-the-budget-resolution_y,physician-fee-freeze_?,physician-fee-freeze_n,physician-fee-freeze_y,el-salvador-aid_?,el-salvador-aid_n,el-salvador-aid_y,anti-satellite-test-ban_?,...,superfund-right-to-sue_?,superfund-right-to-sue_n,superfund-right-to-sue_y,crime_?,crime_n,crime_y,duty-free-exports_?,duty-free-exports_n,duty-free-exports_y,Class
0,0,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,1,0,republican
1,0,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,1,0,republican
2,0,0,1,1,0,0,0,0,1,0,...,0,0,1,0,0,1,0,1,0,democrat
3,0,0,1,0,1,0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,democrat
4,0,0,1,0,1,0,0,0,1,0,...,0,0,1,0,0,1,0,0,1,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,1,0,republican
431,0,0,1,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,democrat
432,0,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,1,0,republican
433,0,1,0,0,0,1,0,0,1,1,...,0,0,1,0,0,1,0,1,0,republican
434,0,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,1,0,0,republican

In [33]:
#training the first model
Train_x, Test_x, Train_y, Test_y = train_test_split(vote_dataset_encoded.drop('Class', axis=1), vote_dataset_encoded['Class'], test_size=0.2, random_state=42)
knn_class = KNeighborsClassifier(n_neighbors=5)
knn_class.fit(Train_x, Train_y)

#evaluating the base Model
prediction = knn_class.predict(Test_x)
acc = accuracy_score(Test_y, prediction)
prec = precision_score(Test_y, prediction, pos_label='republican')
rec = recall_score(Test_y, prediction, pos_label='republican')
f1 = f1_score(Test_y, prediction, pos_label='republican')
print(f"Base accuracy: {round(acc*100, 2)}%")
print(f"Base precision: {round(prec*100, 2)}%")
print(f"Base recall: {round(rec*100, 2)}%")
print(f"Base f1: {round(f1*100, 2)}%")

Base accuracy: 94.25%
Base precision: 96.43%
Base recall: 87.1%
Base f1: 91.53%

In [ ]:
#Now we will train a new model for each feature in the final vote_dataset
#each new model misses one of the features
#We compare the f1 score of each of those new models with the f1 score of the inital model
#if removing the feature negatively impacts the f1 score we will keep the feature, otherwise we will drop it
discard = []
keep = []
for col in vote_dataset.drop("Class", axis = 1):
    temp_vote_dataset = vote_dataset.drop(col, axis=1)
    temp_vote_encoded = pd.get_dummies(temp_vote_dataset.drop("Class", axis = 1))
    temp_vote_encoded = temp_vote_encoded.astype(int)
    temp_vote_encoded["Class"] = temp_vote_dataset["Class"]
    knn_compare = KNeighborsClassifier(n_neighbors=5)
    Train_x2, Test_x2, Train_y2, Test_y2 = train_test_split(temp_vote_encoded.drop('Class', axis = 1), temp_vote_encoded['Class'], test_size = 0.2, random_state = 42)
    knn_compare.fit(Train_x2, Train_y2)
    comp_prediction = knn_compare.predict(Test_x2)
    #acc_comp = accuracy_score(Test_y, comp_prediction)
    f1_temp = f1_score(Test_y, comp_prediction, pos_label='republican')
    difff1 = f1 - f1_temp
    if difff1 > 0:
        keep.append(col)
    else : 
        discard.append(col)
print(f"discarded features: {discard} \n kept features: {keep}")

discarded features: ['adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid', 'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 'mx-missile', 'synfuels-corporation-cutback', 'education-spending', 'superfund-right-to-sue', 'crime', 'duty-free-exports']
 kept features: []

In [35]:
#we create a final dataset that only includes the features that we want to keep
final_votes_dataset = vote_dataset
for col in discard:
    final_votes_dataset = final_votes_dataset.drop(col, axis = 1)
final_votes_encoded = pd.get_dummies(final_votes_dataset.drop("Class", axis=1))
final_votes_encoded = final_votes_encoded.astype(int)
final_votes_encoded["Class"] = final_votes_dataset["Class"]
knn_final = KNeighborsClassifier(n_neighbors=5)
Train_x_final, Test_x_final, Train_y_final, Test_y_final = train_test_split(final_votes_encoded.drop('Class', axis=1), final_votes_encoded['Class'], test_size = 0.2, random_state = 42)
knn_final.fit(Train_x_final, Train_y_final)

#Evaluation of the final ML model
final_prediction = knn_final.predict(Test_x_final)
acc_final = accuracy_score(Test_y_final, final_prediction)
prec_final = precision_score(Test_y_final, final_prediction, pos_label='republican')
rec_final = recall_score(Test_y_final, final_prediction, pos_label='republican')
f1_final = f1_score(Test_y_final, final_prediction, pos_label='republican')

#Evaluation result and the improvement compared to using all features
print(f"Base Model accuracy: {round(acc*100, 2)}%")
print(f"Base Model precision: {round(prec*100, 2)}%")
print(f"Base Model recall: {round(rec*100, 2)}%")
print(f"Base Model f1: {round(f1*100, 2)}%")
print(f"Final accuracy: {round(acc_final*100, 2)}% | improved by: {round(acc_final*100 - acc*100, 2)}%")
print(f"Final precision: {round(prec_final*100, 2)}% | improved by: {round(prec_final*100 - prec*100, 2)}%")
print(f"Final recall: {round(rec_final*100, 2)}% | improved by: {round(rec_final*100 - rec*100, 2)}%")
print(f"Final f1 : {round(f1_final*100, 2)}% | improved by: {round(f1_final*100 - f1*100, 2)}%")

ValueError: No objects to concatenate

In [ ]:
#Finale we save our final model to a file
os.makedirs("data/model", exist_ok=True)
joblib.dump(knn_final, os.path.join("data/", "model/", "FinalModel.pkl"))

['data/model/FinalModel.pkl']